[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
capstone_harshit = "5tZLdZE1a3dWeNTXZrQEv3pvk4FavLwV2jAd2GmVqHFC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Desktop/capstone-harshit/harshit.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
